<!-- Landing Page -->

<div id="home" class="front-scroll cd-section">
  <section class="landing-page">

    <nav class="site-nav">
      <ul class="site-nav__list">
        <li class="display-nav__item animated fadeInLeft">
          <a class="site-nav__link" href="#home">Home</a>
        </li>
        <li class="display-nav__item animated fadeInLeft">
          <a class="site-nav__link" href="#about">Sobre</a>
        </li>
        <li class="display-nav__item animated fadeInLeft">
          <a class="site-nav__link" href="#work">Trabalho</a>
        </li>
        <li class="display-nav__item animated fadeInLeft">
          <a class="site-nav__link" href="#products">Produtos</a>
        </li>
        <li class="display-nav__item contact-link animated fadeInLeft">
          <a class="site-nav__link" href="#contact">Contato</a>
        </li>
      </ul>
    </nav>

    <h1 class="landing-title animated fadeIn">Tecnologia na nutrição animal</h1>
    <h2 class="subtitle animated fadeIn">Buscamos superar os desafios da nutrição animal</h2>

  </section>
</div>

<!-- About Section -->

<section id="about" class="about cd-section">

  <div class="container-stick">
    <div class="stick"></div>
    <div class="stick"></div>
    <div class="stick"></div>
    <div class="stick"></div>
    <div class="stick"></div>
    <div class="stick"></div>
  </div>

  <p class="text-about">Nós somos uma empresa nacional que busca a perfomance de produto que atenda
    prontamento tanto as necessidades do cliente quanto às da nutrição animal</p>

  <%= inline_svg "birds.svg", class:"birds-img" %>

</section>

<!-- Work Section -->

<section id="work" class="work cd-section">

  <p class="letter-t">T</p>

  <h2 class="title">Nosso Trabalho</h2>
  <hr>

  <div class="work-content">

    <div class="container-stick">
      <div class="stick"></div>
      <div class="stick"></div>
      <div class="stick"></div>
      <div class="stick"></div>
      <div class="stick"></div>
      <div class="stick"></div>
    </div>

    <div class="work-desc">
      <p>Trabalhamos em busca de novas tecnologias na nutrição animal</p>
    </div>

    <div class="work-text">
      <p><span>S</span>cenester +1 asymmetrical vexillologist literally, selfies organic tbh
         tumeric PBR&B mumblecore franzen hell of. Literally knausgaard tbh,
         poke 3 wolf moon brooklyn hot chicken pok pok vape vinyl tousled marfa
         meggings chambray. </p>
     <p>Man braid retro XOXO cred, echo park poutine cronut squid knausgaard
        vape mustache dreamcatcher cardigan. Bitters truffaut sustainable
        copper mug hammock, neutra craft beer vice lo-fi jean shorts. </p>
    </div>
  </div>
</section>

<!-- Products Section -->

<section id="products" class="products cd-section">

  <h2 class="title">Nossos Produtos</h2>
  <hr>

  <div class="products-content">

    <div class="products-desc central active">
      <h3>Insumos</h3>

      <ul>
        <li>Aves</li>
        <li>Suínos</li>
        <li>Caprinos</li>
        <li>Ovinos</li>
        <li>Bovinos de Corte e Leite</li>
      </ul>

      <div class="products-info">
        <p>Explorando a ótima convenção e desempenho, a cada objetivo dos
          animais destinados, desde criações domésticas à criações com alto
          rigor de conversão alimentar.</p>
      </div>

      <div class="arrow-left icon"></div>
      <div class="arrow-right icon"></div>

    </div>

    <div class="products-desc left"></div>
    <div class="products-desc right">

    </div>
  </div>

</section>

<!-- Contact Section -->

<section id="contact" class="contact cd-section">

  <h2 class="title">Contato</h2>
  <hr>

  <div class="contact-background">

    <%= inline_svg "cow.svg", class:"cow-img" %>

    <div class="contact-card">
      <div class="contact-form">
        <h3>Contate-nos</h3>
        <div class="mail-solid icon"></div>
        <h4>Clique para escrever</h4>
        <p>email@gmail.com</p>
      </div>

      <div class="contact-info">
        <h3>Informações de Contato</h3>
        <ul>
          <li class="info-title">Tel:</li>
          <li>(11) 1234-5432</li>
          <li class="info-title">Endereço:</li>
          <li>Av. Alguma Avenida, 123</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer">
    <p>Copyright &copy; 2017 DONIZETI JR</p>
  </div>

</section>
