$dark: rgb(130,130,130);
$light: #fcfcfc;
$blue: #00b9f1;
$highlight: #e85a71;
$white: #fff;

$break-large: 1600px;

$break-medium: 960px;
$break-small: 620px;
$break-smallest: 320px;


.products {

  margin-top: 8%;
  position: relative;
  overflow: initial;
  @media screen and (max-width: $break-small) {
    margin-top: 0;
    margin-top: 30%;
  }
  @media screen and (max-width: $break-smallest) {
    margin-top: 40%;
  }

  .products-content {
    width: 100%;
    background-color: $white;
    .products-desc {
      position: absolute;
      transform: translate3d(0px, 34%, 0px);
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
      @media screen and (max-width: $break-small) {
        box-shadow: none;
      }
      &.central {
        background-color: $light;
        margin: 15%;
        width: 70%;
        margin-top: 5%;
        z-index: 2;
        box-shadow: 0 50px 80px 0 rgba(0,0,0,.2);
        overflow: hidden;
        @media screen and (max-width: $break-medium) {
          margin: 10%;
          width: 80%;
        }
        @media screen and (max-width: $break-small) {
          background-color: $white;
          box-shadow: none;
          margin: auto;
          width: auto;
          height: auto;
        }
        h3 {
          color: $dark;
          font-size: 2.5em;
          margin: 1em;
          @media screen and (max-width: $break-large) {
            font-size: 2.2em;
          }
          @media screen and (max-width: $break-small) {
            font-size: 2em;
          }
        }
        ul {
          color: $dark;
          font-size: 1.3em;
          font-weight: lighter;
          width: 25%;
          float: left;
          margin-left: 1em;
          line-height: 1.5em;
          @media screen and (max-width: $break-large) {
            font-size: 1.2em;
          }
          @media screen and (max-width: $break-small) {
            width: auto;
            float: none;
            margin-left: 0;
            padding: 0;
            display: inline;
          }
          li {
            @media screen and (max-width: $break-small) {
              display: inline-block;
              text-align: center;
              margin:  0em 1em;
              font-size: .8em;
            }
          }
        }
        .products-info {
          width: 40%;
          float: right;
          line-height: 1.3;
          padding: 0em 2em;
          border-left: 5px solid #61a5b4;
          border-radius: 5px;
          margin-bottom: 5em;
          @media screen and (max-width: $break-small) {
            margin-top: 2em;
            width: auto;
            float: none;
          }
          p {
            color: $dark;
            font-size: 1.6em;
            font-weight: lighter;
            margin-top: 0;
            @media screen and (max-width: $break-large) {
              font-size: 1.2em;
            }
            @media screen and (max-width: $break-small) {
              font-size: 1.1em;
            }
          }
        }
        .carousel-indicators {
          color: $dark;
          position: absolute;
          bottom: 1em;
          right: 2%;
          cursor: pointer;
          text-align: center;
          list-style: none;
          @media screen and (max-width: $break-medium) {
            right: 43%;
          }
          li {
            display: inline-block;
            border-radius: 10px;
            width: 12px;
            height: 12px;
            background-color: $dark;
            box-sizing: content-box;
            margin: 3px;
            vertical-align: middle;
            border: 0;
            &:hover {
              color: $blue;
              transform: scale(1.5,1.5);
            }
            &.active {
              width: 12px;
              height: 12px;
              background-clip: padding-box;
              background-color: $blue;
              border: 3px solid transparent;
              margin: 0;
              box-shadow: 0 0 0 1px $blue;
            }
          }
        }

      }
      &.left, &.right {
        position: absolute;
        height: 10em;
        width: 13.5%;
        z-index: -1;
        @media screen and (max-width: $break-small) {
          display: none;
        }
      }
      &.left {
        background-color: $blue;
        left: 14%;
        top: 82%;
        @media screen and (max-width: 1200px) {
          top: 56%;
        }
        @media screen and (max-width: $break-medium) {
          left: 8%;
          top: 76%;
        }
        @media screen and (max-width: $break-small) {
          left: 3%;
          top: 55%;
        }
        @media screen and (max-width: 420px) {
          top: 62%;
        }
        @media screen and (max-width: 380px) {
          top: 70%;
        }
      }
      &.right {
        background-color: $white;
        border: 8px solid $dark;
        left: 72%;
        top: 30%;
        @media screen and (max-width: $break-large) {
          top: 25%;
        }
        @media screen and (max-width: 1200px) {
          top: 15%;
        }
        @media screen and (max-width: $break-medium) {
          left: 77%;
          top: 24%;
        }
        @media screen and (max-width: $break-small) {
          left: 80%;
          top: 14%;
        }
        @media screen and (max-width: 380px) {
          top: 16%;
        }
      }

      .products-container {
        padding:  3em;
        display: none;
        &.active {
          display: block;
        }
      }
    }
  }
}
